@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'poppins-regular';
    src: url('../font/Poppins-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppins-bold';
    src: url('../font/Poppins-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-semibold';
    src: url('../font/Poppins-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-extrabold';
    src: url('../font/Poppins-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body, button{
    font-family: 'poppins-regular';
}

.bg-home{
    background-image: url("/img/bg-home.jpg");
}